*{
    margin: 0;
    padding: 0;
    font-family: 'Ultra', serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(214, 214, 214, 0.363),rgba(214, 214, 214, 0.363)),url(images/bgmovreal.gif);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 70px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #3d7454;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    color: #3d7454;
    font-size: 62px;
    text-shadow: 4px 5px 0px #ffffff;

}
.text-box p{
    margin: 10px 0 40px;
    padding: 0px;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Ultra', serif;
    font-style: normal;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid#3d7454;
    background: #3d7454;
    transition: 1s;
}

.vlog-btn{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.vlog-btn:hover{
    border: 1px solid#ffffff;
    background: #ffffff;
    color: #3d7454;
    transition: 1s;
}

nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
        text-shadow: 1px 2px 0px #3d7454;;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #ffffff;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #3d7454;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    
    }
}
/*-----behind----*/

.behind{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
}
h1{
    font-size: 36px;
    color: #3d7454;
    font-weight: 600;
}
p{
    font-size: 16px;
    font-family: 'Segoe UI', serif;
    font-style: italic;
    font-weight: 300;
    line-height: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.row{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 20px;
}
.row img{
    width: 300px;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*---vlog---*/

.vlog{
    width: 100%;
    background: #3d7454;
    background-size: cover;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.vlog h1{
    margin-top: 2px;
    color: #ffffff;
}
.vlog p{
    margin-top: 5px;
    color:#ffffff;
}
.vlog iframe{
    border: 2px solid #ffffff;
}
/*----menu----*/
.menu{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}
h1 img{
    width: 70px;
}
h2{
    font-size: 36px;
    color: #3d7454;
    font-weight: 600;
}
.menu2{
    margin-top: 0px;
    padding-bottom: 20px;
}
h3{
    padding-top: 10px;
    font-size: 24px;
    color: #3d7454;
    font-weight: 400;
}
p img{
    width: 800px;
    border: 1px solid #3d7454;
    padding: 12px 34px;
    cursor: pointer;
}
p img:hover{
    box-shadow: 0 0 20px 0px #3d7454;
    transition: 1s;
}
@media(max-width: 700px){
    .menu{
        flex-direction: column;
    }
    .menu2{
        flex-direction: column;
    }
}

/*---dream----*/
.dream{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.dream p{
    padding-bottom: 5px;
}
.row2{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom:5px;
    column-gap: 1.3em;
}
.dreamrow{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.dreamrow img{
    width: 105%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(255, 255, 255, 0.3);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #3d7454;
    text-shadow: 1px 2px #ffff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;

}
.layer:hover h3{
    bottom: 49%;
    opacity:1;
}
.dreamrow1{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.dreamrow1 img{
    width: 100%;
    display: block;
}
.row1{
    margin-top: 0px;
    width: 78%;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom:5px;
    column-gap: 1.3em;
    margin-left: 120px;

}
/*---reviews---*/

.reviews{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.reviews h1{
    padding-bottom: 20px;
}
.reviews-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #f7f5ed;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.reviews-col img{
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.reviews-col h3{
    margin-top: 15px;
    text-align: left;
    font-size: 16px;
    color: #000000;
}
.reviews-col p{
    padding: 0;
}
.reviews-col .fa{
    color: #3d7454;
}
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(214, 214, 214, 0.363),rgba(214, 214, 214, 0.363)),url(images/grouppic2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.footer{
    width: 100%;
    background-color: #f7f5ed;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    color:#3d7454;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer h5{
    font-size: 16px;
    font-family: 'Segoe UI', serif;
    font-style: normal;
    text-align: center;
    font-weight: 300;
    line-height: 22px;
    padding-top: 20px;
    padding-bottom: 5px;
}

/*----about us page----*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(214, 214, 214, 0.363),rgba(214, 214, 214, 0.363)),url(images/LALALA.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}
.sub-header h1{
    color: #3d7454;
    text-shadow: 1.5px 2.5px #ffffff;
}

/*----menu page----*/

.sub-header1{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(214, 214, 214, 0.363),rgba(214, 214, 214, 0.363)),url(images/menuu.png);
    background-position: center;
    background-size: cover;
    text-align: center;
}
.sub-header1 h1{
    color: #3d7454;
    text-shadow: 1.5px 2.5px #ffffff;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#3d7454;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    box-shadow: 0 0 20px 0 #3d7454;
  }

  /*---blog----*/
  .sub-header2{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(214, 214, 214, 0.363),rgba(214, 214, 214, 0.363)),url(images/FR.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}
.sub-header2 h1{
    color: #3d7454;
    text-shadow: 1.5px 2.5px #ffffff;
}
.hfu{
    width: 80%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.hfu-l{
    flex-basis: 50%;
}
.hfu-l h1{
    margin-top: 50px;
}
.hfu h1{
    font-size: 36px;
    color: #3d7454;
    font-weight: 600;
}
.hfu-x h1{
    margin-top: 60px;
}
.hfu-x p{
    margin-top: 50px;
}
.hfu p{
    font-size: 16px;
    font-family: 'Segoe UI', serif;
    font-style: italic;
    font-weight: 300;
    line-height: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.hfu-r{
    flex-basis: 50%;
}
.hfu-y{
    flex-basis: 50%;
}
.hfu-y img{
    width: 100%;
    border-radius: 10px;
}
.hfu-x{
    flex-basis: 50%;
}
.hfu-r img{
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
}
.hfu-btn{
    display: inline-block;
    text-decoration: none;
    color: #3d7454;
    border: 1px solid #3d7454;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hfu-btn:hover{
    border: 1px solid #3d7454;
    background: #3d7454;
    color: #ffffff;
    transition: 1s;
}
.gall-btn{
    display: inline-block;
    text-decoration: none;
    color: #3d7454;
    border: 1px solid #3d7454;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
}
.gall-btn:hover{
    border: 1px solid #3d7454;
    background: #3d7454;
    color: #ffffff;
    transition: 1s;
}
.row4{
    margin-top: 0px;
    width: 78%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom:5px;
    column-gap: 1.3em;
    margin-left: 120px;

}
.gallery{
    width: 80%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
.gallery h1{
    margin-bottom: 3px;
    text-align: center;
}
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}
    
body { margin: 0; } 
    div#slider { overflow: hidden; }
    div#slider figure img { width: 10%; float: left;}
    div#slider figure { 
      position: relative;
      width: 500%;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 15s slidy infinite;
}

.gally{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    padding-top: 100px;
    text-align: center;
}
.gally h1{
    margin-top: 0px;
    margin-bottom: 20px;
}
.gally img{
    width: 250px;
}
.commenti{
    width: 80%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
.comments{
    border: 1px solid #3d7454;
    margin: 50px 0;
    padding: 10px 20px;
}
.comments h4{
    text-align: center;
    color: #3d7454;
}
.commentf input, .commentf textarea{
    font-family: 'Segoe UI', serif;
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f7f5ed;
}
.commentf button{
    margin: 10px 0;
}

/*--contact---*/
.loc{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.loc iframe{
    width: 100%;
}
.cont{
    width: 80%;
    margin: auto;
}
.contcl{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contcl div p{
    font-style: normal;
    padding: 0;
}
.contcl  div h5{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 400;
}

.contcl div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contcl div .fa{
    font-size: 28px;
    color:#3d7454;
    margin: 10px;
    margin-right: 30px;
}  
.contcl input, .contcl textarea{
    font-family: 'Segoe UI',serif;
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #3d7454;
}



